@font-face {
	font-family: "Futura New";
	src: url("../fonts/FuturaNewHeavy-Reg.ttf") format("truetype"); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "SchoolBook";
    src: url("../fonts/Schoolbook Regular.ttf") format("truetype");
    font-weight: normal;
	font-style: normal;
}

body {   
    font-family: SchoolBook;
    color:#59443F;
    margin: 0;
    padding: 0;
}

[class*="__container"] {
    max-width: 1780px;
    margin: 0px auto;
    padding: 0px 10px;
}

@media (max-width: 767.98px) { 
    [class*="__container"] {
        max-width: none;
    }
 }

 @media (max-width: 991.98px) { 
    [class*="__container"] {
        max-width: 750px;
    }
 }

@media (max-width: 1199.98px) { 
    [class*="__container"] {
        max-width: 960px;
    }
}

@media (max-width: 1399.98px) { 
    [class*="__container"] {
        max-width: 1140px;
    }
}

@media (max-width: 1599.98px) { 
    [class*="__container"] {
        max-width: 1300px;
    }
}

.wraper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* -----------------
        HEADER
 -------------------*/

.header__container {
    display: flex;
    min-height: 230px;
    align-items: center;
}

.header {
    /* position: absolute; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__logo {
    position: relative;
    z-index: 5;
    padding: 13.5px 10px 13.5px 10px;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu__item {
    margin: 0 80px 0 0;
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__link {
    color: #C3B9B5;
}

.menu__link:hover {
    text-decoration: underline;
}

.link {
    font-family: "Futura New";
    font-style: normal;
    font-size: 14pt;
    line-height: 2.0;
    text-decoration: none;
    letter-spacing: 1px;
}

.header__location {
    display: flex;
    align-items: center;
}

.location_item {
    padding: 0 19px 0 0;
}

.location__link {
    color: #FFC59E;
}

@media (max-width: 1599.98px) {
    .menu__item {
        margin: 0 50px 0 0;
    }
}

@media (max-width: 1399.98px) { 
    .header__container {
        min-height: 180px;
    }
}

@media (max-width: 1199.98px) { 
    .link {
        font-size: 12pt;
    }
    .menu__item {
        margin: 0 30px 0 0;
    }
    .header__container {
        min-height: 140px;
    }
}

/* ---------------------- */

.icon-menu {
    display: none;
}

@media (max-width: 991.98px) { 
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 20px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 10px 0 35px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #59443F;
        height: 2px;
    }
        
    .icon-menu span {
        height: 2px;
        background-color: #59443F;
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -120%;
        width: 100%;
        height: 100%;
        padding: 90px 15px 40px 15px;
        background-color: #FFC59E;
        transition: right 0.3s ease 8s;
    }
    
    .menu__body:target {
        left:0;
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .link {
        font-size: 14px;
    }

    .menu__link {
        font-size: 20px;
        color: #59443F;
        }

    .menu__item {
    margin: 0 0 5px 0;
    }
    .menu__item :last-child {
    margin-bottom: 0;
    }
 }

 /* --------------------------
        MAIN 
 -----------------------------
    making-appointment
 ----------------------------*/

 .main {
    flex: 1 1 auto;
}

.making-appointment__container {
    display: flex;
    justify-content: space-between;
    height: 800px;
}

.list-button-slide {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 3%;
}

.button-slide {
    color: #C3B9B5;
    background: #ffffff;
    border: 0;
    margin-bottom: 70px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.button-active {
    border-color: rgb(53, 53, 53);
}

.making-appointment__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 0 10%;
    width: 100%;
    height: 100%;
}

.text {
    display: none;
    font-family: "SchoolBook";
    font-weight: 500;
    font-size: 80px;
    line-height: 100px;
    color: #080606;
    letter-spacing: 1px;
    margin: 0 0 40px 0;
}

.text-active {
    display: flex;
}

.button {
    background: #FFC59E;
    box-shadow: 0px 4px 20px #FFC59E;
    border-radius: 33.5px;
    height: 66px;
    width: 284px;
    border: 0;
}

.button:hover {
    background:#f89a5f;
}

.button:active {
    background-color: #59443F;
}

.button-link {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    line-height: 2.0;
}

.social-item {
    padding-right: 50px;
}

.making-appointment__image {
    margin-right: 0;
    display: flex;
    align-items: flex-end;
}

.image-slide {
    display: none;
}

.image-active {
    display: flex;
}

.small-slide {
   display: none; 
}

@media (max-width: 1399.98px) { 
    .making-appointment__container {
        height: 600px;
    } 

    .button-slide {
        margin-bottom: 50px;
    }

    .image-slide {
        display: none;
    }

    .small-slide {
        display: flex; 
        padding-right: 50px;
     }    

    .text {
        font-size: 60px;
        line-height: 1.3;
    }
}


@media (max-width: 991.98px){
    .making-appointment__container {
        align-items: flex-start;
        height: 450px;
    }

    .small-slide {
        display: none; 
     } 

     .making-appointment__content {
        padding: 10px 0 0 15%;
     }

    .text {
        font-size: 50px;
    }

    .social-item {
        padding-right: 20px;
    }

    .social-item:last-child {
        padding-right: 0;
    }

    .button-slide {
        margin-bottom: 30px;
    }
}

/* -----------------------
    services
----------------------- */
.services__container {
    height: 1252px;
    display: flex;
    align-items: center;
    margin: 0 10% 0 10%;
}

.grid-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    height: 172px;
    width: 19%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #ece9e7;
    margin: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service:hover {
    border: 1px solid #e4d9d4;
}

.service:active img{
    filter: brightness(35%);
}

.service-button-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.name-service {
    font-family: "SchoolBook";
    font-weight: 600;
    font-size: 30px;
    color: #59443F;
    margin: 0;
}

.count-services {
    font-family: 'Futura New';
    font-weight: 100;
    font-size: 20px;
    color: #59443F;
    margin: 0;
}

.services-button {
    display: none;
}

@media (max-width: 1599.98px) {
    .services__container {
        margin: 0 5% 0 5%;
        max-width: 100%;
    }
}

@media (max-width: 1399.98px) {
    .services__container {
        height: 700px;
    }

    .service {
        height: 60px;
        width: 15%;
    }

    .name-service {
        font-size: 20px;
    }

    .count-services {
        font-size: 10px;
        color: #FFC59E;
    }

    .service img {
        display: none;
    }
}

@media (max-width: 991.98px){
    .services__container {
        height: 500px;
    }

    .name-service {
        font-size: 14px;
    }

    .service {
        height: 20px;
        width: 15%;
        margin: 1% 1% 1% 1%;
    }

    .count-services {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .services__container{
        height: 200px;
        justify-content: center;
    }

    .grid-services {
        display: none;
    }

    .services-button {
        display: inline;
    }
}